

.contenedorBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #4d4d4d;
    border: 1px solid black;
    width: 40%;
    justify-content: space-between;
}
.a{
    text-decoration: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: black;
    border: none;
    width: auto;
}
.btn{
    padding: 0px;
    width: 80px;
    height: auto;
    border-radius: 4px;
    background-color: #0c0c0b;

}
.btn:hover{
    font-size: 100px;
}